<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suda.mychatapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/chat_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeWithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/ThemeWithNoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_regist"
            android:theme="@style/ThemeWithActionBar" />
        <activity
            android:name=".activity.EditAccountActivity"
            android:label="@string/title_activity_edit_account"
            android:theme="@style/ThemeWithActionBar" />
        <activity
            android:name=".activity.AccountInfoActivity"
            android:label="@string/title_activity_account_info"
            android:theme="@style/ThemeWithActionBar" />
        <activity
            android:name=".activity.SearchNewFriendActivity"
            android:label="@string/title_activity_search_new_friend"
            android:theme="@style/ThemeWithActionBar" />
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/ThemeWithActionBar" />
        <activity
            android:name=".activity.FriendInfoActivity"
            android:label="@string/title_activity_friend_info"
            android:theme="@style/ThemeWithActionBar" />

        <!-- 推送与聊天 -->
        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="true" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.DetailEditActivity"
            android:label="@string/title_activity_detail_edit"
            android:theme="@style/ThemeWithActionBar" />

    </application>

</manifest>
